<div class="container">
  <mat-card class="from-wrapper">
    <form [formGroup]="createForm">
      <mat-grid-list [cols]="breakpoint2" rowHeight="5em" [gutterSize]="'10px'">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Select Title</mat-label>
            <mat-select formControlName="title">
              <mat-option [value]="title" *ngFor="let title of titleList">{{
                title
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName" />
          </mat-form-field>
          <ng-container
            *ngIf="f['firstName'].touched && f['firstName'].invalid"
          >
            <mat-error
              *ngIf="f['firstName'].errors && f['firstName'].errors['required']"
            >
              * First Name is required
            </mat-error>

            <mat-error
              *ngIf="
                f['firstName'].errors && f['firstName'].errors['minlength']
              "
            >
              * Minimum number allows 2
            </mat-error>
          </ng-container>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="lastName" />
          </mat-form-field>
          <ng-container *ngIf="f['lastName'].touched && f['lastName'].invalid">
            <mat-error
              *ngIf="f['lastName'].errors && f['lastName'].errors['required']"
            >
              * Last Name is required
            </mat-error>

            <mat-error
              *ngIf="f['lastName'].errors && f['lastName'].errors['minlength']"
            >
              *Minimum number allows 2
            </mat-error>
          </ng-container>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="breakpoint2" rowHeight="5em" [gutterSize]="'10px'">
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" />
          </mat-form-field>

          <ng-container *ngIf="f['email'].touched && f['email'].invalid">
            <mat-error
              *ngIf="f['email'].errors && f['email'].errors['required']"
            >
              * Please enter a valid email address
            </mat-error>

            <mat-error *ngIf="f['email'].errors && f['email'].errors['email']">
              * Email is <strong>example@gmail.com</strong>
            </mat-error>
          </ng-container>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Phone</mat-label>
            <input type="phone" matInput formControlName="phone" />
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

      <mat-grid-list [cols]="breakpoint2" rowHeight="5em" [gutterSize]="'10px'">
        <mat-grid-tile>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="gender"
          >
            <mat-radio-button value="male">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
            <mat-radio-button value="other">Other</mat-radio-button>
          </mat-radio-group>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-card-actions>
        <button mat-raised-button color="disabled" (click)="goBack()">
          Cancel
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onCreate()"
          *ngIf="!editUserId"
        >
          Create
        </button>
        <button
          mat-raised-button
          color="primary"
          (click)="onCreate()"
          *ngIf="editUserId"
        >
          Edit
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
