.from-wrapper {
  width: 800px;
  // height: 260px;
}

.mat-form-field,
form {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-error {
  margin-bottom: 10px;
}
