.from-wrapper {
  width: 800px;
  height: 350px;
}

.d-flex{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mat-form-field,
form {
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
}

mat-card-actions {
  display: flex;
  justify-content: flex-end;
}

mat-error {
  margin-bottom: 10px;
  width: 100%;
}


.mat-radio-button {
  margin-left: 16px;
  margin-top: 16px;
}

