<div class="container">
  <mat-card class="from-wrapper">
    <form [formGroup]="createForm">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <ng-container *ngIf="f['firstName'].touched && f['firstName'].invalid">
        <mat-error
          *ngIf="f['firstName'].errors && f['firstName'].errors['required']"
        >
          * First Name is required
        </mat-error>

        <mat-error
          *ngIf="f['firstName'].errors && f['firstName'].errors['minlength']"
        >
          * Minimum number allows 2
        </mat-error>
      </ng-container>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <ng-container *ngIf="f['lastName'].touched && f['lastName'].invalid">
        <mat-error
          *ngIf="f['lastName'].errors && f['lastName'].errors['required']"
        >
          * Last Name is required
        </mat-error>

        <mat-error
          *ngIf="f['lastName'].errors && f['lastName'].errors['minlength']"
        >
          *Minimum number allows 2
        </mat-error>
      </ng-container>

      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <ng-container *ngIf="f['email'].touched && f['email'].invalid">
        <mat-error *ngIf="f['email'].errors && f['email'].errors['required']">
          * Please enter a valid email address
        </mat-error>

        <mat-error *ngIf="f['email'].errors && f['email'].errors['email']">
          * Email is <strong>example@gmail.com</strong>
        </mat-error>
      </ng-container>

      <mat-card-actions>
        <button mat-raised-button color="disabled" (click)="goBack()">
          Cancel
        </button>
        <button mat-raised-button color="primary" (click)="onCreate()">
          Create
        </button>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
