/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mat-card-header-text {
  margin: 0 !important;
}

.container {
  background: #f5f5f5;
  padding: 20px;
  height: 100%;
}

.mat-icon-button {
  float: right;
}

mat-grid-tile > .mat-grid-tile-content{
  display: flex;
  align-items: start;
}
